.modal-background{
  background-color: rgba(0,0,0,0.6);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 99;
}

.modal{
  height: auto;
  width: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 999;
  text-align: center;
  border-radius: 15px;
  background-color: #D8E6F3;
  padding: 30px;
}

button{
  margin: 5px 0 5px 0;
}

label{
  display: block;
}

.show{
  display: block;
}

