<div class="container main">
  <nav>
    <button class="btn btn-primary" routerLink="/post/create">Create Post</button>
  </nav>
  <table>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Comments</th>
      <th>Author</th>
    </tr>
    <tr *ngFor="let post of posts">
      <td>{{post.id}}</td>
      <td>
        <a routerLink="/post/{{post.id}}">{{post.title}}</a>
      </td>
      <td>
        <a (click)="openModal(commentDetailsModalId, post)">Comments</a>
      </td>
      <td>
        <a (click)="openModal(userDetailsModalId, post.userId)">Author</a>
      </td>
    </tr>
  </table>
  <div class="centered">
    <app-pagination [pagination]="pagination"></app-pagination>
  </div>
</div>

<app-comment-details></app-comment-details>
<app-user-details></app-user-details>

