<div class="container main">
  <nav>
    <button class="btn btn-primary" routerLink="/post/create">Create Post</button>
  </nav>
  <table>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Comments</th>
      <th>Author</th>
    </tr>
    <tr *ngFor="let post of pagedItems">
      <td>{{post.id}}</td>
      <td>
        <a routerLink="/post/{{post.id}}">{{post.title}}</a>
      </td>
      <td>
        <a (click)="openModal(commentDetailsModalId, post)">Comments</a>
      </td>
      <td>
        <a (click)="openModal(userDetailsModalId, post.userId)">Author</a>
      </td>
    </tr>
  </table>
  <div class="centered">
    <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(1)">First</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === 1}">
        <a (click)="setPage(pager.currentPage - 1)">Previous</a>
      </li>
      <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
        <a (click)="setPage(page)">{{page}}</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.currentPage + 1)">Next</a>
      </li>
      <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
        <a (click)="setPage(pager.totalPages)">Last</a>
      </li>
    </ul>
  </div>
</div>

<app-comment-details></app-comment-details>
<app-user-details></app-user-details>

